*{
	margin: 0;
	padding: 0;

}

section{
	background-color: seagreen;
	padding: 50px;
	
}

div{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color: skyblue;
	text-align: center;
	border-radius: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	

}

h1{
	font-size: 50px;


}

span{
	color: seagreen;
}

p{
	font-size: 20px;
	padding: 20px;

}

em{
	display: inline-block;
	background-color: seagreen;
	font-size: 25px;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px;

}

a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 10px;
	background-color: seagreen;
	border-radius: 5px;
	box-shadow: 5px 5px 10px blue;
	transition-duration: 0.5s;

}

a:hover{
	box-shadow: -5px -5px 10px blue;
	}
